<html>
    </head>

    <style>
body {
    font-family: sans-serif;
}
    table {
        border: 0.25em;
        border-width: medium;
        border-color: black;
        border-collapse: collapse;
        width: 100%;

    }
    .footer {
        border-top: 1px solid #4d4d4d;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 0.8em;
        color: #4d4d4d;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      font-size: 1.14em;
      color: #333333;
      line-height: 1.6;
      color: #4d4d4d;
    }
    .image {
      text-align: center;
    }
    .hello {
      font-size: 1.25em;
    }
    </style>

    <body>
      <div class="container">
        <p class="hello"><b>Hello, there!</b></p>
        <p>I'm Shreyas from Belong. Your friend <b>{{referrer}}</b> has joined the {{inviterLocalityName}} neighborhood group on Belong and wishes for you to be a part of the conversations of your locality.
        </p>


      <div><div  class="image"> <a href="https://play.google.com/store/apps/details?id=chat.belong.hello{{{link}}}"><img src="http://s.bel.ng/s/appscreen.png"/></a></div>

        <p>Belong is a great way to discover new people around you.<br/> Here you can:</p>
        <ul>
    <li>Join your apartment and colony resident groups.</li>
    <li>Join your office, college &amp; hometown group.</li>
    <li>Find partners for carpooling &amp; other such activities.</li>
    <li>Get help from Neighbors for your local queries (Best Salon? Good Maid?) </li>
    </ul>
    </p>

        <p>
        I would be more than happy to answer any questions you might have about this email,
        write to me at <a style="color:#ff1144; text-decoration: none" href="mailto:shreyas@bel.ng">shreyas@bel.ng</a>
        </p>

        <p>
        <em>Your friendly neighbor,</em><br>
        <em>Shreyas.</em>
        </p>
        <table>
            <tr>
                <td class="footer" colspan="2">
                   <b>Belong</b> #43, KR Garden, Murugeshpalya, Bangalore, Karnataka, 560017 &middot; Copyright&copy;2016
                </td></tr>
                </td></tr>
              </table>
              </div>
    </body>
</html>
