<html>
<body>
  <table style="border: 0.25em;border-width: medium;border-color: black;border-collapse: collapse;max-width: 600px;">
    <tr><td class="logo" colspan="2" style="text-align: center;padding-bottom: 10px;">
      <img alt="Belong" src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/belong.png" style="width:144px; height:54px;">
    </td></tr>
    <tr><td class="hero" colspan="2" style="background: #ff1144;padding: 30px 50px;text-align: left;max-width: 400px;font-size: 1.5em;font-weight: bold;color: white;margin: 0 auto;border-radius: 3px;box-shadow: 2px 2px 2.5px #e6e6e6;text-shadow: 2px 2px #e42c5;">
      <div> Nothing makes you more tolerant of a neighbor's noisy party than being there. </div>
    </td></tr>
    <tr><td class="welcome" colspan="2" style="text-align: left;font-size: 1.35em;padding: 25px 20px;color: #333333;">
      <b>Hey, {{user}}!</b><br>Congratulations on joining Belong. You are now connected to a family of hundreds of neighbors.
    </td></tr>
    <tr><td class="icon">
      <img src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/curious.png" style="width: 4.5em;height: 4.5em;padding: 15px 15px;">
    </td><td class="usecase" style="width: 100%;text-align: left;font-weight: normal;font-size: 1.35em;color: #333333;">
      <b>Practice being curious.</b> <br> Ask questions about your locality.
    </td></tr>
    <tr><td class="icon">
      <img src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/share.png" style="width: 4.5em;height: 4.5em;padding: 15px 15px;">
    </td><td class="usecase" style="width: 100%;text-align: left;font-weight: normal;font-size: 1.35em;color: #333333;">
       <b>Knowledge is meant to be shared. </b> <br> Seek help for your local everyday needs.
    </td></tr>
    <tr><td class="icon">
      <img src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/kind.png" style="width: 4.5em;height: 4.5em;padding: 15px 15px;">
    </td><td class="usecase" style="width: 100%;text-align: left;font-weight: normal;font-size: 1.35em;color: #333333;">
     <b>Kindness grows exponentially.</b> <br> Be a samaritan and help your neighbors.
   </td></tr>


    <tr><td class="endnote" colspan="2" style="font-size: 1.35em;padding: 10px;color: #333333;">
     <p>I would be more than happy to answer any questions you might have about Belong. Write to me at <a href="mailto:shreyas@bel.ng" style="color:#ff1144; text-decoration: none"> shreyas@bel.ng </a></p>
     <em></em><p> Your friendly neighbor,<br>Shreyas.</p>
   </td></tr>


    <td class="footer" colspan="2" style="border-top: 1px solid #4d4d4d;max-width: 600px;margin: 0 auto;padding-top: 20px;font-size: 0.75em;color: #4d4d4d;">
      <b>Belong</b> Your friendly neighborhood, #43, KR Garden, Murugeshpalya, Bangalore, Karnataka, 560017
      <p>Ignorance is bliss? <a href="{{domain}}/r/unsubscribe?email={{token}}" style="color:#6644bb; text-decoration: none"> Unsubscribe</a> </p><p> Copyright &copy; 2016 <b>Belong</b></p>
   </td>


</table></body>
</html>
