<!DOCTYPE html>
<html>
	<head>
		<title>Unsubscribed</title>

		<style type="text/css">
			body {
				font: 24px/1.624 Lato, "Open Sans", sans-serif;
			}

			.message {
				padding: 2em;
				text-align: center;
			}
			.message2 {
				text-align: center;
				color: #999;
				font-size: 15px;
			}
			footer {
				padding: 1em;
				font-size: 16px;
				color: #999;
				text-align: center;
				border-top: 1px solid #eee;
			}
		</style>
	</head>

	<body>
		<p class="message">
			{{message}}
		</p>
		<footer>
			By Belong
			<p class="message2">
				{{message2}}
			</p>
		</footer>
	</body>
</html>
