<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<div id="app-container">{{app}}</div>
		<script>{{state}}</script>
		<script src="/scripts/client.js"></script>
	</body>
</html>
